<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Prog4Servlet</servlet-name>
        <servlet-class>servlet.Prog4Servlet</servlet-class>
        
        <init-param>
            <param-name>Servlet</param-name>
            <param-value>Program 4</param-value>
        </init-param>
         <init-param>
            <param-name>Developer</param-name>
            <param-value>Kalp Kansara</param-value>
        </init-param>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>Prog4Servlet</servlet-name>
        <url-pattern>/Prog4Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <context-param>
        <param-name>Website</param-name>
        <param-value>Assignment 1</param-value>
    </context-param>
    <context-param>
        <param-name>Department</param-name>
        <param-value>MSc IT</param-value>
    </context-param>
    
</web-app>
